# Environment
.env
.venv/
#Python
__pycache__/
.pytest_cache/
*.pyc
# Jupyter
.ipynb_checkpoints/

# Docker
logs/
postgres_data/


# Archivos de datos
data/raw/
data/processed/
data/external/
*.db
*.csv
*.parquet
*.log

# VS Code
.vscode/
